* {
    margin: 0;
    padding: 0;
    font-family:fantasy; 
    color: whitesmoke;
}

body {
    background: #0f0c29;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #02020a, #332d69, #0c0921);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #161627, #24204a, #1c174a);
}

.container {
    margin: 30px;

    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    border-radius: 24px;
}

.clock {
    text-align: center;
    padding: 12px;
}

.datebox {
    text-align: center;
    padding: 12px;
    font-size: 24px;
}

.clock span {
    font-size: 80px;
    width: 60px;
    display: inline-block;
    text-align: center;
    position: relative;
}

.clock span::after {
    font-size: 16px;
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-24px);
}
#hrs::after {
    content: "Hours";
    left: 60%;
}
#min::after {
    content: "Minutes";
}
#sec::after {
    content: "Second";
}